<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NosFuimooss"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.nosfuimooss.monumento.GuardarMonumentoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.monumento.DetalleMonumentoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.monumento.MapaMonumentosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotelyboleto.ElegirFragmentVuelosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotelyboleto.ElegirFragmentHotelesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.misvuelos.DetalleReservaHotelActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.ConfirmacionHotelesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.DatosPersonasActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.InfoHotelActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.ElijeTuEstanciaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.DetalleHotelActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.misvuelos.DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.DatosPasajerosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.DetalleBoletoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.SeleccionarBoletoVueltaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.ConfirmacionReservaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.TarifaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.SeleccionarBoletoIdaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.MapaActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.usuariologeado.DetalleVuelos"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.boleto.VuelosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.meFaltaHacer.PlanesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.monumento.MonumentosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.meFaltaHacer.ActividadesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.navegador.MisViajesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.navegador.BuscadorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.navegador.Calendario"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.meFaltaHacer.UsuarioPerfil"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.navegador.Favoritos"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.hotel.ReservarHotel"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.navegador.ElegirVuelo"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.usuariologeado.UsuarioLogeadoInicial"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.sesion.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.sesion.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.nologeado.UsuarioNoLogeadoInicioActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nosfuimooss.nologeado.WelcomActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>